body {
    margin: 0;
}

nav {
    width: 400px;
    height: 100%;
    background-color: black;
    position: fixed;
    opacity: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: white;
    list-style-type: none;
    padding: 50px;
}

li:hover {
    color: palevioletred;
}

img {
    width: 100%;
}