body {
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.circle {
    background-color: pink;
    border: 3px solid white;
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.square {
    background: linear-gradient(30deg, rgb(105, 245, 255), rgb(255, 90, 255));
    border: 3px solid black;
    height: 200px;
    width: 200px;
    margin: 50px auto;
}

span {
    display: flex;
    justify-content: space-around;
    margin: 19px;
}

.small {
    background-color: lightblue;
    border: 3px solid white;
    height: 35px;
    width: 35px;
}

.first {
    background-color: aqua;
}

.second {
    background-color: plum;
}

.third {
    background-color: blueviolet;
}